<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Joke</title>
    <link rel="icon" href="{{ asset_path }}/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset_path }}style.css">
</head>
<body>
    <div class="container">
        <h1>Error processing request</h1>
        <div class="buttons">
            <a href="/" class="button">Home</a>
        </div>
    </div>
</body>
</html>
